$monospace-font: Menlo, Monaco, Consolas, 'Courier New', monospace;
$line-space: 22px;

.markdown-body {
  position: relative;
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
  color: #282d36;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  h1 {
    font-size: 30px;
    margin-bottom: 5px;
    color: #2f845e;
  }

  h2 {
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
    background: #2f845e;
    color: #fff;
    padding: 6px 8px 0 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-right: 2px;
  }
  h2::before {
    content: ' ';
    display: inline-block;
    width: 8px;
  }
  h2::after {
    content: ' ';
    position: absolute;
    display: block;
    width: calc(100% - 40px);
    border-bottom: 2px #2f845e solid;
  }
  h3 {
    font-size: 18px;
    padding-bottom: 0;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 15px;
  }
  h6 {
    margin-top: 5px;
  }

  p {
    line-height: inherit;
    margin-top: $line-space;
    margin-bottom: $line-space;
  }

  img {
    max-width: 100%;
    box-shadow: 6px 6px 6px #888;
  }

  hr {
    border-top: 1px solid #ddd;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  code {
    font-family: $monospace-font;
    word-break: break-word;
    border-radius: 2px;
    overflow-x: auto;
    background-color: #fff5f5;
    color: #ff502c;
    font-size: 0.87em;
    padding: 0.065em 0.4em;
  }

  pre {
    font-family: $monospace-font;
    overflow: auto;
    position: relative;
    line-height: 1.75;
    border-top: 4px solid #2f845e;
    background: linear-gradient(180deg, rgba(66,185,131,.1), transparent);
    > code {
      font-size: 12px;
      padding: 15px 12px;
      margin: 0;
      word-break: normal;
      display: block;
      overflow-x: auto;
      color: #333;
      background: #f8f8f8;
    }
  }

  strong {
    background-color: inherit;
    color: #2f845e;
  }

  em {
    background-color: inherit;
    color: #949415;
  }

  a {
    text-decoration: none;
    color: #2f8e54;
    border-bottom: 1px solid #3f9e64;
    &:hover,
    &:active {
      color: #3f9e64;
    }
  }

  table {
    display: inline-block !important;
    font-size: 12px;
    width: auto;
    max-width: 100%;
    overflow: auto;
    border: 2px #2f8e54 solid;
  }
  thead {
    background: #2f8e54;
    color: #fff;
    text-align: left;
    font-weight: bold;
  }
  tr:nth-child(2n) {
    background-color: rgba(153,255,188,.1);;
  }
  th,
  td {
    width: 100%;
    padding: 12px 7px;
    line-height: 24px;
  }
  td {
    min-width: 120px;
  }

  blockquote {
    padding: 1px 22px;
    margin: 22px 0;
    border-left: 8px solid #2f845e;
    background-color: rgba(66, 185, 131, 0.1);
    border-radius: 4px;
    &::after {
      display: block;
      content: '';
    }
    & > p {
      margin: 10px 0;
    }
  }

  ol,
  ul {
    padding-left: 28px;
    li {
      margin-bottom: 0;
      list-style: inherit;
      & .task-list-item {
        list-style: none;
        ul,
        ol {
          margin-top: 0;
        }
      }
    }

    ul,
    ol {
      margin-top: 3px;
    }
  }
  ol li {
    padding-left: 6px;
  }

  del {
    color: #2f845e;
  }

  @media (max-width: 720px) {
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
  }
}
